.header {
    background-image: url(https://media.revistagq.com/photos/5d8b3cd2261a8f0008786844/16:9/w_1600,c_limit/como%20hacer%20la%20mejor%20pizza%20del%20mundo.jpg);
    background-size: cover;
    height: 200px;
  }
  
  Nav {
    background-color: #b81818;
  }

  .navbar a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  

  .navbar a:hover {
    color: rgb(207, 207, 207);
  }
  
  .active {
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(207, 207, 207);
  }
  .btn-primary {
    background-color: #18a2b8;
    border-color: #18a2b8;
  }
  .btn-primary:hover, .btn-primary:active{
    background-color: #178fa1;
    border-color: #178fa1;
  }